ion-content {
    --background: none;
    background-image: linear-gradient(to top right, #81BD00, #C7FF53);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

header {
    display: flex;
    height: 20%;
    justify-content: center;
    align-items: flex-end;
}

h2 {
    color: white;
    font-size: 2.25em;
    margin: 0;
}
